.thumbnail{
    width: 60px;
    height: auto;
    padding: 3px;
    border: 1px solid #ccc;
    margin: 5px;
}
.avatar{
    margin-left: 40%;
    margin-right: 40%;
    border: 0 !important;
    border-radius: 50%;
}
.user-name{
    text-decoration: none;
    text-transform: capitalize;
}
ul#repo-list {
    margin-top: 10px;
}